<div class="mat-drawer-container pic">

  <form [formGroup]="reactiveForm">

    <div class="center registrationFormUnderlayer">

      <div>
        <mat-form-field appearance="fill" class="width_100">
          <mat-label>Name</mat-label>
          <label>
            <input
              matInput
              placeholder="Enter your name"
              formControlName="name"
              required
              pattern=[A-Za-zА-Яа-яЁё]{2,30}
            >
          </label>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill" class="width_100">
          <mat-label>Surname</mat-label>
          <label>
            <input
              matInput
              placeholder="Enter your surname"
              formControlName="surname"
              required
              pattern=[A-Za-zА-Яа-яЁё]{2,30}
            >
          </label>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill" class="width_100">
          <mat-label>Email</mat-label>
          <label>
            <input
              matInput
              placeholder="pat@example.com"
              formControlName="email"
              required
              pattern=[a-zA-Z_]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}
            >
          </label>
          {{getErrorMessage['email']}}
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <label>
            <input
              matInput [type]="hide ? 'password' : 'text'"
              formControlName="password"
              required
              pattern=[A-Za-zА-Яа-яЁё]{6,60}
            >
          </label>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>


      <div class="margin">
        <!--BTN_REGISTRATION-->
        <button
          mat-stroked-button
          type="submit"
          class="width_100"
          [disabled]="reactiveForm.invalid">Registration
        </button>
      </div>

      <div class="margin">
        <!--BTN_LOGIN-->
        <a routerLink="/login" class="black">
          <button mat-stroked-button
                  class="width_100">Login
          </button>
        </a>
      </div>

    </div>
  </form>
</div>
