/*TOOL_BAR*/
.example-spacer {
  flex: 1 1 auto;
}

.center {
  width: 1200px;
  height: auto;
  position: absolute;
  top:10%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.registrationFormUnderlayer {
  position: absolute;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  width: 1200px;
  height: auto;
  padding: 30px;
  margin: 0 auto;
}

  .box1 {
    border: solid 1px #006699;
    padding: 20px;
    background: #f3f3f3;
    border-radius: 5px;
  }

.todos input.textfield {
  width: 480px;
  height: 30px;
  margin-right: 20px;
  font-size: 1.4em;
  vertical-align: top;
}

.todos input.checkbox {
  width: 15px;
  height: 15px;
}

.todos .checked {
  text-decoration: line-through;
}

.todos button {
  height: 36px;
  font-size: 1.1em;
  vertical-align: top;
  border: solid 1px #999;
  border-radius: 2px;
}

.todos .delete-icon {
  diplay: inline-block;
  cursor: pointer;
}

pic{
  min-height: 100vh;
  width: 100%;
  background: url('src/assets/pics/4.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.black{
  color: #1a1a1a;
}

.font-size{
  font-size: 24px;
}





/*////////*/




.todo-body {
 /* height: 100%;
  width: auto;*/

  background: radial-gradient(circle, rgba(215, 188, 89, 0.26) 0%, rgba(110, 177, 210, 0.47) 100%);
}

.todo-input {
  width: 100%;
  font-size: 18px;
  margin-bottom: 16px;
}

.todo-input :focus {
  outline: 0;
}


.toolbar-p {
 /* width: 100%;*/
  text-align: center;
  margin: 0 auto;
  font-size: 36px;
}

.toolbar{
  margin-bottom: 100px;
}

.material-icons {
  font-size: 36px!important;
  margin-right: 25px!important;
}

.main-container{
  /*height: 40%;*/
  width: 40%;
  margin: 0 auto;

}

.example-form {
  /*min-width: 150px;
  max-width: 500px;
  width: 100%;*/
}

.example-full-width {
  /*min-width: 150px;
  max-width: 500px;
  width: 100%;*/
}

.todo-item {

  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation-duration: 0.3s;
}

.remove-item {
  cursor: pointer;
  margin-left: 14px;
}

.todo-item-left {
  display: flex;
  align-items: center;
}

.todo-item-label {
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
  margin-left: 12px;
}

.todo-item-edit {
  font-size: 24px;
  color: #2c3e50;
  margin-left: 12px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  /*font-family: 'Avenir', Helvetica, Arial, sans-serif*/;
}

.todo-item-edit:focus {
  outline: none;
}

.completed {
  text-decoration: line-through;
  color: #3f51b5;
}

.extra-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  border-top: 1px solid lightgrey;
  padding-top: 14px;
  margin-bottom: 14px;
}

.button-main {
  margin: 5px;
}

.button-main:hover {
  background: cornflowerblue;
}

.button-main:focus {
  outline: none;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.height_100{
  height: 100%;
}
