<!--=== TASKS ===-->
<div class="todo-body">

  <!--NAV-BAR-->
  <div>
    <mat-toolbar color="primary">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item
                routerLink="/profile"
                class="black">
          <mat-icon>perm_contact_calendar</mat-icon>
          <span>Edit profile</span>
        </button>
        <a  class="black">
          <button mat-menu-item (click)="logOut()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Exit</span>
          </button>
        </a>
      </mat-menu>
      <span>TODO-list</span>
      <span class="example-spacer"></span>
    </mat-toolbar>
  </div>

  <div class="main-container">
    <mat-form-field appearance="outline" class="todo-input margin-top">
      <input matInput placeholder="Write here your task and press Enter"
             class="toolbar-p"
             [(ngModel)]="todoTitle"
             (keyup.enter)="addTodo()">
    </mat-form-field>

    <div class="todo-item" *ngFor="let todo of todosFiltered()">
      <div class="todo-item-left">

        <mat-checkbox color="primary"
                      [checked]="todo.completed"
                      name="completed"
                      (change)="todoIsDone(todo)">
        </mat-checkbox>

        <div *ngIf="!todo.editingOnUI; else editingTodo"
             class="todo-item-label"
             [ngClass]="{ 'completed' : todo.completed }"
             (dblclick)="editTodo(todo)">
          {{todo.title}}
        </div>
        <ng-template #editingTodo>
          <input matInput class="todo-item-edit"
                 [(ngModel)]="todo.title"
                 (blur)="doneEdit(todo)"
                 (keyup.enter)="doneEdit(todo)"
                 (keyup.esc)="cancelEdit(todo)"
                 autofocus>
        </ng-template>
      </div>

      <mat-icon-button class="remove-item" (click)="deleteTodo(todo.id)">
        <mat-icon>highlight_off</mat-icon>
      </mat-icon-button>
    </div>
    <!--BTNS-->
    <div class="extra-container">
      <div>
        <button mat-raised-button class="button-main"
                [ngClass]="{'active': filter === 'all'}"
                (click)="filter='all'">
          All tasks
        </button>
        <button mat-raised-button class="button-main" color="accent"
                [ngClass]="{'active': filter === 'active'}"
                (click)="filter='active'">
          Active
        </button>
        <button mat-raised-button class="button-main" color="primary"
                [ngClass]="{'active': filter === 'completed'}"
                (click)="filter='completed'">
          Done
        </button>
      </div>
    </div>
  </div>
</div>
