<!--TOOLBAR-->
<div>
  <mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">

      <!--BTN_ToDoList-->
      <button mat-menu-item
              routerLink="/todo-list"
              class="black">
        <mat-icon>description</mat-icon>
        <span>Todo list</span>
      </button>

      <!--BTN_EXIT-->
      <button mat-menu-item
              class="black"
              (click)="logOut()"
      >
        <mat-icon>exit_to_app</mat-icon>
        <span>Exit</span>
      </button>

    </mat-menu>
    <span>My profile</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
</div>

<!--CARD-->
<div class="center margin-top">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{user.name}}</mat-card-title>
      <mat-card-subtitle>profile</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <div class="center-lines">

      <mat-card-content>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput  value='{{user.name}}'>
          </mat-form-field>
        </form>
      </mat-card-content>

      <mat-card-content>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Surname</mat-label>
            <input matInput value='{{user.surname}}'>
          </mat-form-field>
        </form>
      </mat-card-content>

      <mat-card-content>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput value='{{user.email}}'>
          </mat-form-field>
        </form>
      </mat-card-content>



    </div>
  </mat-card>
</div>
