<!--NAV-BAR-->
<div>
  <mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a routerLink="/edit-profile" class="black">
        <button mat-menu-item>
          <mat-icon>perm_contact_calendar</mat-icon>
          <span>Edit profile</span>
        </button>
      </a>
      <a routerLink="/login" class="black">
        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Exit</span>
        </button>
      </a>
    </mat-menu>
    <span>TODO-list</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
</div>

<!--TODO_LIST-->
<div>
  <div class="todos center">
    <div>
      <form (submit)="addTodo($event)">
        <input
          [(ngModel)]="newTodo"
          (keyup.enter)="newTodo=''"
          class="textfield"
          name="newTodo"
          placeholder="write your task">
        <button mat-stroked-button color="primary" type="submit" [disabled]="newTodo===''">Add Todo</button>
      </form>
    </div>

    <ul>
      <li *ngFor="let todo of todos; let i=index">
        <input type="checkbox" class="checkbox" [(ngModel)]="todo.completed"/>
        <span class="font-size" [ngClass]="{'checked': todo.completed}">{{ todo.newTodo }}</span>
        <span (click)="deleteTodo(i)"><mat-icon>delete_outline</mat-icon></span>
      </li>
    </ul>

    <div>
      <button mat-stroked-button color="warn" (click)="deleteSelectedTodos()">Delete Selected</button>
    </div>
  </div>
</div>

